/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --nav-width: 324px;
  /*===== Font weight =====*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*===== Colors =====*/
  --first-color: #588ddd;
  --first-color-dark: #163666;
  --first-color-darken: #070e2e;
  --text-color: #56839e;
  --first-color-lighter: #eae7e6;
  --first-color-lighten: #fffafa;

  /*===== Font and typography =====*/
  --body-font: 'Poppins', sanserif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*===== Margenes =====*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  /*===== z index =====*/
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --body-font: 'Poppins', sanserif;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*===== BASE =====*/

*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--first-color-lighten);
  color: var(--text-color);
  line-height: 1.6;
}
h1,
h2,
h3,
p {
  margin: 0;
}
h3 {
  font-weight: var(--font-semi-bold);
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
/*===== CLASS CSS ===== */

.section {
  padding: 4rem 0 2rem;
  /* border: 1px solid red; */
}
.section-title {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
  text-align: center;
}

.section-subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--first-color-darken);
  text-align: center;
  font-weight: var(--font-bold);
  margin-bottom: 0.25rem;
}
/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% -2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color-lighten);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  /* border: 2px solid black; */
}

.nav__menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 90%;
  height: 100vh;
  padding: 3rem;
  display: flex;
  align-items: center;
  background-color: var(--first-color);
  transition: 0.5s;
  background-color: #ffffff;
  /* border: 1px solid black; */
  border-top-right-radius: 1.5rem;
  opacity: 0.9;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--first-color-darken);
  cursor: pointer;
}

.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__link {
  font-size: 1rem;
  text-transform: uppercase;
  /* color: var(--first-color-lighten); */
  color: gray;
  font-weight: var(--font-bold);
  transition: 0.3s;
}

.nav__link:hover {
  color: black;
}
.nav__toggle {
  color: var(--first-color-dark);
  font-size: 1.3rem;
  cursor: pointer;
}
/*=== Show menu ===*/
.show {
  left: 0;
}
/*Active menu*/
.active {
  color: var(--text-color);
}
/*===== HOME =====*/
.home__container {
  height: calc(100vh - var(--header-height));
  align-items: center;
  /* border: 1px solid red; */
}
.home__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  text-align: center;
  /* border: 1px solid red; */
}
.home__img {
  /* padding-top: 1.3rem;
  padding-left: 0.8rem; */
  width: 310px;
  height: 250px;
  /* background-color: var(--first-color); */
  border-radius: 2rem;
  overflow: hidden;
  margin-bottom: var(--mb-2);
  border: 1px solid red;
}

.home__img img {
  width: 310px;
  position: relative;
  bottom: 2.3rem;
  /* right: 0.5rem; */
}

.home__title {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
  border: 1px solid red;
}

.home__profession {
  font-size: var(--small-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb-5);
}
.home__social {
  margin-bottom: 5rem;
}

.home__social-link {
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  font-size: 1.1rem;
  border-radius: 50%;
  padding: 0.4rem;
  margin: 0 var(--mb-1);
  transition: 0.3s;
}
.home__soclai-link:hover {
  background-color: var(--first-color-dark);
}

.homepage {
  display: flex;
  flex-direction: column-reverse;
}
.right__homepage {
  margin-top: 1rem;
  /* min-height: 400px; */
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #bbbaba; */
}
.homepage__img {
  position: relative;
  width: 450px;
  height: 300px;
  overflow: hidden;
  border-radius: 2rem;
}
.homepage__img img {
  position: relative;
  /* width: 450px;
  height: 400px; */
  border-radius: 3rem;
  bottom: 10rem;
}
.left__homepage {
  /* border: 1px solid red; */
  display: flex;
  text-align: center;
  /* background: #e5e7d6; */
  padding: 2.5rem 0rem;
}
.homepage-big-text {
  font-size: 28px;
}

.homepage-data {
  /* border: 1px solid red; */
  display: flex;
  text-align: left;
  flex-direction: column;
  margin-top: 3rem;
  padding: 0 0.4rem;
}

.homepage-data h3 {
  font-weight: 500;
  margin-bottom: 7.5rem;
}
.homepage-data h2 {
  align-self: center;
}
/*BUTTONS*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  padding: 1rem 2rem;
  font-weight: var(--font-semi-bold);
  border-radius: 0.5rem;
  transition: 0.3s;
  margin-top: 3rem;
}

.button:hover {
  background-color: var(--first-color-dark);
}
.home__button {
  width: 100%;
}
.button_light {
  background-color: var(--first-color-lighten);
  color: var(--first-color);
}

.button__light:hover {
  color: var(--first-color-lighten);
}
/* ===== ABOUT =====*/
.about__container {
  row-gap: 2rem;
}
.about__data {
  text-align: center;
}
.about__description {
  margin-bottom: var(--mb-4);
}
.about__img {
  width: 350px;
  height: 400px;
  border-radius: 0.5rem;
  margin: 0 auto;
}

.about__information {
  margin-bottom: var(--mb-4);
}
.about__information-title {
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb-2);
}
.about__details {
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-start;
  align-items: normal;
  text-align: left;
  margin-top: 2rem;
}
.about__detail {
  margin-left: 0.5rem;
  font-weight: 900;
  margin-bottom: 0.4rem;
}
.about__detail-info {
  margin-left: 0.5rem;
  font-weight: 500;
}

.about__information-data {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  margin-bottom: var(--mb-3);
}

.about__information-icon {
  font-size: 1.5rem;
  color: var(--first-color);
  margin-right: var(--mb-4);
}

.about__information-subtitle {
  display: block;
  font-weight: var(--font-semi-bold);
}

.about__information-subtitle-small {
  font-size: var(--small-font-size);
}
/* ===== SKILLS =====*/
.skills__container {
  row-gap: 2rem;
}
.skills_subtitle {
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  margin-bottom: 4rem;
  /* border: 1px solid red; */
}
.skills__data {
  position: relative;
  display: flex;
  /* justify-content: space-between; */
  margin: 0 var(--mb-2);
  margin-bottom: var(--mb-4);
}
.skills__name {
  text-transform: uppercase;
}
.skills__bar {
  position: absolute;
  bottom: -0.75rem;
  height: 0.25rem;
  background-color: var(--first-color);
}
/* ===== EDUCATION =====*/
.education__container {
  row-gap: 2rem;
}

.education__content {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
}
.education__year,
.education__race {
  font-size: var(--h3-font-size);
  margin-bottom: 0.25rem;
}
.education__university,
.education__speciality {
  display: block;
  font-size: var(--small-font-size);
}
.education__year,
.education__university {
  text-align: right;
}
.education__time {
  padding: 0 1rem;
  justify-content: center;
}
.education__rounder {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: var(--first-color);
  border-radius: 50%;
}

.education__rounder::before {
  content: '';
  position: absolute;
  transform: translate(-4px, -4px);
  width: 20px;
  height: 20px;
  border: 1px solid var(--first-color);
  border-radius: 50%;
}

.education__line {
  display: block;
  height: 90%;
  width: 2px;
  background-color: var(--first-color);
  transform: translate(5px, -4px);
}
/* ===== SERVICES =====*/
.services__container {
  row-gap: 2rem;
}

.services__content {
  padding: 1.5rem 0.5rem;
  border: 2px solid var(--first-color);
  border-radius: 0.5rem;
  text-align: center;
}
.services__icon {
  font-size: 2rem;
  padding: 0.5rem;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  border-radius: 50%;
  margin-bottom: var(--mb-2);
}

.services__title {
  font-size: 1.25rem;
  color: var(--first-color-dark);
  margin-bottom: var(--mb-1);
}

.services__content .services__icon .services__description .services__title {
  transition: 0.5s;
}

.services__content:hover {
  background-color: var(--first-color);
}
.services__content:hover .services__icon {
  background-color: var(--first-color-lighten);
  color: var(--first-color);
}
.github__link {
  position: relative;
  top: 2rem;
  left: 2rem;
  margin-top: 2rem;
}
.services__content:hover .services__title {
  color: var(--first-color-lighten);
}

.services__content:hover .services__description {
  color: var(--first-color-lighten);
}
/* ===== PROJECT IN MIND  =====*/
.project {
  background-color: var(--first-color);
  padding-bottom: 0;
}

.project__container {
  row-gap: 2rem;
}

.project__data {
  text-align: center;
}

.project__title,
.project__description {
  color: var(--first-color-lighten);
}

.project__description {
  margin-bottom: var(--mb-4);
}

.project__img {
  width: 220px;
  justify-self: center;
}
/* ===== WORKS =====*/
.works__container {
  justify-items: center;
  row-gap: 2rem;
}

.works__img {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
}
.works__data {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(44, 140, 204, 0.7);
  border-radius: 0.5rem;
  transition: 0.3s;
}
.works__data-links {
  display: flex;
  flex-direction: row;
}
.works__link {
  display: inline-flex;
  font-size: 1.5rem;
  background-color: var(--first-color-lighten);
  color: var(--first-color);
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-bottom: var(--mb-2);
  margin-right: 0.3rem;
}

.works__title {
  font-size: var(--h2-font-size);
  color: var(--first-color-lighten);
}
.works__img:hover .works__data {
  bottom: 0;
}
/* ===== CONTACT =====*/
.contact__container {
  row-gap: 3rem;
}
.contact__input {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: var(--first-color-lighter);
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-2);
  border-radius: 0.5rem;
}
.contact ::placeholder {
  color: var(--first-color-dark);
  font-family: var(--body-font);
  font-weight: var(--font-medium);
}
.contact__button {
  outline: none;
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  cursor: pointer;
}
.contact__info {
  margin-bottom: var(--mb-3);
}

.contact__subtitle {
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb-1);
}
.contact__text {
  display: block;
  padding-left: 1rem;
}
/* ===== FOOTER =====*/
.footer {
  background-color: var(--first-color-darken);
  color: var(--first-color-lighten);
  text-align: center;
}
.footer__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-2);
}
.footer__description {
  margin-bottom: var(--mb-2);
}

.footer__social {
  margin-bottom: 3rem;
}

.footer__link {
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  font-size: 1.1rem;
  border-radius: 50%;
  padding: 0.4rem;
  margin: 0 var(--mb-1);
  transition: 0.3s;
}

.footer__link:hover {
  background-color: var(--first-color-lighten);
  color: var(--first-color);
}

.footer__copy {
  font-size: var(--smaller-font-size);
  color: var(--text-color);
}
.border-line {
  display: none;
}

.my-logo {
  width: 170px;
  height: 170px;
  position: absolute;
  top: 0;
  left: 0px;
  z-index: 2;
}
.aboutMe {
  display: none;
}
/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px) {
  .home__button {
    width: initial;
  }
  .home__img {
    /* padding-top: 1.3rem;
  padding-left: 0.8rem; */
    width: 500px;
    height: 300px;
    /* background-color: var(--first-color); */
    border-radius: 2rem;
    overflow: hidden;
    margin-bottom: var(--mb-2);
  }
  .home__img img {
    width: 500px;
    height: 500px;
    position: relative;
    bottom: 5rem;
  }
  .homepage__img {
    width: 600px;
    /* border: 1px solid red; */
    height: 400px;
  }
  .left__homepage {
    /* border: 1px solid red; */
    padding: 0 3rem;
    padding-top: 2rem;
  }

  .nav__menu {
    width: var(--nav-width);
    border: 1px solid rgb(20, 6, 6);
  }

  .about__container,
  .skills__container,
  .services__container,
  .works__container,
  .contact__container,
  .contact__inputs {
    grid-template-columns: repeat(2, 1fr);
  }
  .about__data {
    text-align: initial;
  }

  .about__description {
    margin-bottom: var(--mb-5);
  }
  .about__img {
    width: 350px;
  }

  .about__information {
    padding-left: 4rem;
  }

  .education__time {
    padding: 0 2rem;
  }
  .project {
    background: none;
  }
  .project__container {
    background-color: var(--first-color);
    grid-template-columns: 2fr 1.2fr;
    padding: 0 2rem;
    border-radius: 0.5rem;
  }
  .project__data {
    padding: 3rem 0;
  }
  .project__title,
  .project__data {
    text-align: initial;
  }
  .project__img {
    width: 330px;
    align-self: flex-end;
    /* border: 1px solid red; */
  }

  .contact__inputs {
    display: grid;
    column-gap: 1.5rem;
  }

  .contact__info {
    padding-left: 3rem;
  }

  .footer {
    background: none;
  }
  .footer__container {
    background-color: var(--first-color-darken);
    padding: 3rem 0;
    border-radius: 0.5rem;
  }
  .border-line {
    display: none;
  }

  .my-logo {
    width: 170px;
    height: 170px;
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 2;
  }
  .aboutMe {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  body {
    margin: 0;
    padding-left: var(--nav-width);
  }
  .l-header {
    width: 0;
  }
  .about {
    display: none;
  }

  .nav__toggle,
  .nav__logo,
  .nav__close {
    display: none;
  }
  .nav__menu {
    left: 0;
    /* width: 450px; */
    border-top-right-radius: 0rem;
    border: none;
    border: 1px solid black;
    display: flex;
    /* justify-content: baseline; */
    align-items: end;
  }
  .homepage {
    /* border: 1px solid red; */
    width: 81vw;
    margin-left: 0.82rem;
    height: 100vh;
    display: flex;
    overflow: hidden;
    flex-direction: row;
  }
  .skills__subtitle {
    margin-bottom: 1rem;
  }
  .skills__data {
    margin-bottom: 0.7rem;
  }
  .left__homepage {
    /* border: 1px solid red; */
    background: #bbbaba;
    width: 40vw;
    overflow: hidden;
    /* margin-left: 0.82rem; */
    /* rotate: 10deg; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
  }
  .homepage-big-text {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .homepage-small-text {
    margin-bottom: 4rem;
  }
  .homepage-data h3 {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 8rem;
  }
  .right__homepage {
    /* border: 1px solid red; */
    background: #e5e7d6;
    width: 41vw;
    padding-top: 0;
    height: auto;
    margin: 0;
    /* position: relative; */
    /* bottom: 1rem; */
    /* margin-left: 0.82rem; */
    overflow: hidden;
    /* rotate: 10deg; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .homepage__img {
    overflow: visible;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    background: #e5e7d6;
    border: 8px solid rgb(7, 7, 7);
    rotate: 7deg;
    display: flex;
    justify-content: center;
  }
  .homepage__img img {
    rotate: -7deg;
    /* rotate: 10deg; */
    width: 500px;
    height: 650px;
    bottom: 0;

    /* height: 900px; */
    /* border: 10px solid rgb(15, 15, 15); */
    /* left: 5rem; */
  }
  .home__container {
    height: 100vh;
    display: flex;
    flex-direction: row;
  }

  .home__img {
    width: 45vw;
    height: 60vh;
    border-radius: 0%;
    /* overflow: visible; */
    margin-bottom: var(--mb-2);
    border-radius: 2rem;
  }
  .home__img img {
    width: 45vw;
    height: 1000px;
    position: relative;
    bottom: 150px;
    border-radius: 2rem;
  }
  .about__img {
    /* border: 1px solid red; */
    width: 400px;
  }
  .about__container {
    display: flex;
    flex-direction: column;
  }
  .about__data {
    display: grid;
    grid-template-columns: 1fr 1fr;

    /* flex-direction: row-reverse; */
  }

  .about__details {
    /* border: 1px solid red; */
    display: flex;
    position: relative;
    /* bottom: 250px; */
    justify-content: flex-start;
    align-items: normal;
    text-align: left;
    margin-top: 0rem;
  }
  .about__detail {
    margin-left: 0.5rem;
    font-weight: 900;
    margin-bottom: 0.4rem;
  }
  .about__detail-info {
    margin-left: 0.5rem;
    font-weight: 500;
  }

  .section {
    padding: 3rem 0 2rem;
  }
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .services__container,
  .works__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .active {
    color: gray;
  }
  .my-logo {
    width: 170px;
    height: 170px;
    position: fixed;
    z-index: 2;
  }
  .border-line {
    background-color: rgb(68, 67, 67);
    position: absolute;
    display: flex;
    left: 300px;
    height: 100vh;
    width: 20px;
    /* overflow: hidden; */
    /* right: 0; */
    /* justify-self: flex-start; */
    z-index: 2;
    top: 0px;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    /* rotate: 90deg; */
  }
  .border-line__text {
    color: rgb(31, 29, 29);
    rotate: 90deg;
    /* border: 1px solid blue; */
    background: white;
    height: fit-content;
    /* width: 100px; */
    text-transform: uppercase;
    display: flex;
    text-align: center;
    padding: 0rem 4rem;
    align-items: center;
    font-weight: 700;
    font-size: 1.25rem;
  }
  .aboutMe {
    display: flex;
    flex-direction: row;

    padding: 0 0.8rem;
    padding-top: 3rem;
    /* row-gap: 0.4rem; */
  }
  .aboutMe-description {
    /* border: 1px solid red; */
    width: 30vw;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .aboutMe-description img {
    margin-bottom: 3em;
  }
  .aboutMe-description p {
    width: 25vw;
    font-weight: 400;
    font-size: 14px;
  }
  .aboutme-details {
    width: 30vw;
    margin-right: 3rem;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
  }
  .aboutme-details div {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 2rem 0px;
    overflow: hidden;
  }
  .aboutme-details p {
    width: fit-content;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 0.4rem;
    /* border: 1px solid blue; */
  }
  .more-aboutme {
    margin-top: 20rem;
  }
  .more-aboutme h1 {
    font-size: 22px;
    margin-bottom: 0.5rem;
  }
  .more-aboutme p {
    font-size: 18;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  .more-aboutme p span {
    font-size: 12px;
    margin-left: 0.5rem;
  }
  .about_information {
    margin: 3rem 0;
  }
  .about_information h1 {
    font-size: 22px;
  }
  .about_information ul {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* row-gap: 1rem; */

    width: fit-content;
    margin-bottom: 0.5rem;
  }
  .about_information ul li {
    padding: 0.3rem 0.6rem;
    border: 1px solid rgb(85, 112, 163);
    width: fit-content;
    margin-bottom: 0.5rem;
    border-radius: 0.3rem;
  }
  .github__link {
    position: relative;
    top: 2rem;
    left: 2rem;
    margin-top: 2rem;
  }
  .contact__container {
    padding-top: 2rem;
  }
}
